 @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css");
 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

 * {
     font-family: "Roboto", sans-serif;
 }

 body {
     font-family: 'Roboto', sans-serif;
     background: #f4f4f4;
     text-align: center;
     padding: 60px 20px;
     margin: 0;
     opacity: 0;
     transition: opacity 1s ease-in;
 }

 body.loaded {
     opacity: 1;
 }

 h1 {
     color: #222;
     font-size: 28px;
     margin-bottom: 16px;
 }

 p {
     font-size: 16px;
     color: #555;
     margin-bottom: 30px;
 }

 .list-button {
     background-color: #34eb34;
     color: white;
     border: none;
     font-size: 18px;
     padding: 12px 28px;
     border-radius: 8px;
     cursor: pointer;
     transition: background-color 0.3s ease;
     text-decoration: none;
     display: inline-block;
 }

 .list-button:hover {
     background-color: #008000;
 }

 footer {
     margin-top: 50px;
     font-size: 14px;
     color: #888;
 }

 .icons {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 30px;
     padding: 20px 0;
 }

 .icons a {
     color: #000;
     text-decoration: none;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .icons a:hover {
     color: #007BFF;
 }